.navbar {
    background-color: #000000 !important;
  }
  
  .navbar-brand {
    font-weight: bold;
    color: #FF006F !important;
  }
  
  .navbar-nav .nav-link {
    color: #B300FF !important;
  }
  
  .navbar-nav .nav-link:hover {
    color: #00F7FF !important;
  }